@use "../../../scss/abstracts/index" as *;

.btn {
  font: inherit;
  border-radius: $smallBorderRadius;
  padding: 0.8rem 3rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.button {
  border: none;
  background: linear-gradient(180deg, #e5b15f, #b37a4f);
    color: var(--white);

  &:hover,
  &:active {
    background: linear-gradient(180deg, #e5b15f, #b37a4f);
    color: var(--white);
  }

  &:focus {
    outline: none;
  }
}

.outline {
  background-color: transparent;
  border: 1px solid var(--secondaryColor);
  color: var(--text-color);
}

html[dir="rtl"] {
  .btn {
    font-family: iranyekan, "IRANSans", "Tahoma";
  }
}
