@forward "./global";
@forward "./flex-grid";


:root { 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    --ff-primary: "Inter", sans-serif;
    --dark:#292C31;
    --white: #ffffff;
    --yellow: #E4AF5F;  
    --light-white: #dddddd; 
    --black: #000000; 
  }


  .btn, #btn {
    font-family: var(--poppins);
    border: 0;
    display: inline-block;
    vertical-align: middle;
    background: var(--yellow) !important;
    color: var(--white); border-radius: 50px !important;
    padding: 16px 39px;
    font-size: 16px;
    line-height: 1;
    text-transform: none;
    font-weight: 700;
    border-radius: 37px;
    box-shadow: 0 4px 50px #0000001a;
}
.MuiTab-textColorPrimary {
    border-radius: 50px !important;
    border: 0 none !important;
}
.sidebar-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: linear-gradient(#3a3c3f, #292d2f);
}
.sidebar-logo img {width: auto;}
._sidebar_13x4y_7._sidebar_close_13x4y_29 .sidebar-logo img { width: 45px;}

.blockuserpopup  .MuiPaper-root { position: relative;overflow-y: inherit;text-align: center;  display: flex
; align-items: center;}
.VerifyUser{width: 118px;
    height: 118px;
    border: 5px solid green;
    border-radius: 50%;
    padding: 20px;
    margin: -59px auto 0px;
    background-color: #fff;}
.blockuser {
    width: 118px;
    height: 118px;
    border: 5px solid #ff0e24;
    border-radius: 50%;
    padding: 20px;
    margin: -59px auto 0px;
    background-color: #fff;
}
button.btn-cancel{background: linear-gradient(180deg, #e5b15f, #b37a4f);
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
    border: none;}
    button.btn-cancel:hover{background: linear-gradient(180deg, #b37a4f, #e5b15f);}
    button.btn{background:red !important; cursor: pointer;font-weight: bold;color: #fff;padding: 8px 25px;border-radius: 50px;border: none;}
    button.btn:hover{background: rgb(150, 0, 0) !important;}
    .blockuserpopup  .MuiPaper-root h2{font-size: 30px; margin: 20px 0;}

    button.confirm{ background:green;
        cursor: pointer;
        font-weight: bold;
        color: #fff;
        padding: 8px 25px;
        border-radius: 50px;
        border: none;}
        button.confirm:hover{background: rgb(0, 75, 0);}



html[theme=light] ._sidebar_13x4y_7 {  background-color:var(--yellow);}
._sidebar__menu__item_13x4y_77 {
    color: var(--black);
    border-bottom: solid 1px var(--dark);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
html[theme=light] ._sidebar__menu__item_13x4y_77:hover, html[theme=light] ._sidebar__menu__item_13x4y_77._active_13x4y_89 {  color: var(--white);}
html[theme=dark] ._sidebar__menu__item_13x4y_77 {
    color: var(--light-white);
    border-bottom: solid 1px rgb(107 107 107 / 50%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
._topNav_left_menu_icon_1srqq_21 svg{ width: 40px; height: 40px;}
._form__control_q5eei_7{margin-bottom: 1rem !important;}

.formadduser ._form__control_q5eei_7 label {  display: none !important;}
.css-hxk6jb-MuiTabs-root .Mui-selected:hover, .css-hxk6jb-MuiTabs-root .MuiTab-root:hover, ._adduserbtn_1f1qt_27:hover{background: linear-gradient(180deg,#b37a4f,#e5b15f)!important; color: var(--white) !important;}
._profile_flex_1uzdr_83, .profile-card ._profile_flex_18l68_87 { padding: 0 30px;  margin-bottom: 20px !important;}
.btn-wrap-users {  display: flex; gap: 15px;}
html[theme=dark] label, html[theme=dark] ._myprofilewrapper_1uzdr_7 h2 { color: #fff;}
._img_wrapper_1bjpq_43 { margin-right: 30px;}
.verification-wrap { display: flex;  gap: 30px;}
.verification-wrap h4 {  margin-bottom: 20px;}
.verification-wrap .social-wrapper ._account__contact__email_1bjpq_149 {  display: flex; align-items: center;  gap: 15px;  margin-bottom: 20px !important;}
.media-wrapper h4, .contnet-wrapper { margin-bottom: 20px;}
.media .media-item {  width: 250px; border:solid 2px #eee; display: flex; align-items: center; background: #ddd; height: 250px;}
.media {  display: inline-flex;flex-wrap: wrap; gap: 15px;}
.media .media-item img { height: 100%;  width: 100%;  object-fit: cover;}

.private-content .media-item {  width: 250px; display: flex; align-items: center; border:solid 2px #eee; height: 250px;}
.private-content {  display: inline-flex;flex-wrap: wrap; gap: 15px;}
.private-content .media-item img { height: 100%;  width: 100%;  object-fit: cover;}
.media .media-item video {  width: 100%;}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected { color: #000 !important;}
.details-wrapper .dtls {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}
.dtls p {  margin-bottom: 10px;}
._container_114ke_7 .social-wrapper div {
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

html[theme=dark] ._topNav_i9cq4_7 {  border-bottom: 3px solid #283036;}
html[theme=dark] ._myprofilewrapper_572mm_7, html[theme=dark] ._card_1n477_7, html[theme=dark] ._datatablemainwrap_1cntq_89, html[theme=dark] ._myprofilewrapper_18l68_7, html[theme=dark]  ._myprofilewrapper_jhiyt_7 {  background-color: #404548; color: #ffffff;}
html[theme=dark] ._tbodymain_1cntq_35 thead tr th, html[theme=dark] ._tbodymain_1cntq_35 tbody tr td, html[theme=dark] ._tbodymain_1cntq_35 tbody tr th {  background-color: #283036; color: #ffffff;}
html[theme=dark] ._topNav_left_menu_icon_i9cq4_21 { color: #ffffff;}
html[theme=dark] h4, html[theme=dark] h2.title, html[theme=dark] h2  { color: #fff;}
html[theme=dark] .css-1usuzwp-MuiButtonBase-root-MuiTab-root {  color: #fff !important;}
html[theme=dark] ._myprofilewrapper_ffxls_7{ background-color: #404548; color: #ffffff;}
html[theme=dark] .dashboard-holder p { color: #fff;}

.css-1uzppds-control { margin-bottom: 1rem;}

.selfie-wrapper.no-round ._img_wrapper_v0i9m_43 {
    width: 300px;
    height: 300px;
    border-radius: 0; border:solid 2px #eee;
  }
  .img-holder-inner {
    max-width: 300px;
    width: 100%;border:solid 2px #eee;
    height: 300px;
}

.img-holder-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.profileform ._form__control_q5eei_7 label {
    display: none !important;
}
.profile-card.profileform form > div {
    display: flex;
    flex-wrap: wrap;
}
._boxWrap_matb8_21.MuiBox-root.css-0 { margin-bottom: 30px;}

._form__control_q5eei_7 > div{position: relative;}
._form__control_q5eei_7 > div span {
    position: absolute;
    right: 15px;
    top: 15px;
}

._container_1ymyc_11 { background: #292C31 url(../src/assets/images/body-bg.png) no-repeat center right !important;}

._form__control_q5eei_7 label {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    padding:0 0 10px; display: block;
    white-space: nowrap;
  }
input, select {color: #000;}
.top-header .MuiPopper-root.css-51we07-MuiPopper-root { z-index: 2;}
.top-header ul.profilenavlist li {    font-size: 14px !important;}

.usertabledata > div {
    overflow-x: hidden;
}



@media only screen and (max-width:1440px) {
  body *{font-size: 14px;}  
}