.tabwrapper {
  margin-bottom: 30px;
  width: 70%;
  .tablistw {
    background: linear-gradient(180deg,#e5b15f,#b37a4f)!important;
    color: #ffffff;
    border: 1px solid #E4AF5F;
    border-radius: 5px;
    margin-right: 10px;
    span {
      display: none;
    }
  }
}
.Mui-selected {  border: none !important;}
.boxWrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.adduserbtn{ 
  background:linear-gradient(180deg,#e5b15f,#b37a4f);
  color: #fff !important;
  border: 0 none !important;
  border-radius: 50px !important;
  padding: 15px !important;
  cursor: pointer !important;
  &:hover{background:linear-gradient(180deg,#b37a4f, #e5b15f);}
}
