.tabwrapper {
  margin-bottom: 30px;
  width: 70%;
  .tablistw {
    background-color: transparent;
    color: #E4AF5F;
    border: 1px solid #E4AF5F;
    border-radius: 5px;
    margin-right: 10px;
    span {
      display: none;
    }
  }
}
.Mui-selected {
  border: none !important;
}
.boxWrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.adduserbtn{ 
  background-color: green !important;
  color: #fff !important;
  border: 1px solid !important;
  border-radius: 5px !important;
  padding: 15px !important;
  cursor: pointer !important;
}
